* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  margin: 5rem auto;
  width: 300px;
}
.app {
  gap: 3px;
  display: grid;
  width: 300px;
  height: 300px;
}

.btn {
  border: 1px solid #000;
  background-color: #dddddd;
  font-size: 2rem;
}

.none {
  background-color: transparent !important;
}

.odd {
    background-color: #91adba;
}